<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="com.great.mapper.SYSTEMLOGMapper">
 <resultMap type="com.great.javabean.SYSTEMLOG" id="resultMap">
 <result property="method" column="METHOD"/>
 <result property="logType" column="LOGTYPE"/>
 <result property="exceptioncode" column="EXCEPTIONCODE"/>
 <result property="exceptionDetail" column="EXCEPTIONDETAIL"/>
 <result property="params" column="PARAMS"/>
 <result property="createBy" column="CREATEBY"/>
  <result property="createDate" column="CREATEDATE"/>
 </resultMap>
 <insert id="insert" parameterType="com.great.javabean.SYSTEMLOG">
     insert into SYSTEMLOG 
     values(#{method},#{logType},#{exceptioncode},#{exceptionDetail},#{params},#{createBy},#{createDate})
 </insert>
 <select id="findAll" resultType="com.great.javabean.SYSTEMLOG">
     select * from SYSTEMLOG
 </select>

 </mapper>